body {
    margin: 0;
    background: #fbfbfb;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    color: #000;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

.login-box {
    width: 290px;
    position: absolute;
    left: 50%;
    margin-left: -145px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-tip {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 25px;
}

.area {
    position: relative;
    margin-bottom: 18px;
}

.area>input {
    height: 38px;
    line-height: 38px;
    outline: none;
    border-radius: 1px;
    border: 1px solid #bbb;
    width: 288px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0px 0px 0px 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background: #FAFFBD;
}

.area>input.success {
    border: 1px solid #468847;
}

.area>input.error {
    border: 1px solid #c00;
}

.area>input:focus,
.area>input:focus:hover {
    outline: none;
    border: 1px solid #08c;
}

.area>.icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 9px;
    left: 9px;
}

.area>.icon-user {
    background: url('/img/login/user.png') no-repeat center;
    background-size: 37px auto;
}

.area>.icon-pwd {
    background: url('/img/login/iconfont-pwd.png') no-repeat center;
    background-size: 25px auto;
}

.area>.check-tip {
    position: absolute;
    left: 100%;
    top: 0;
    line-height: 38px;
    min-width: 200px;
    padding-left: 23px;
    background: url('/img/login/rico_error.png') no-repeat 7px center;
    font-size: 12px;
    color: #ff5959;
}

.area>.btn-login {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    display: block;
    width: 290px;
    background: #67bdcd;
    text-decoration: none;
}

.loading-box {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .7);
    display: none;
}

.loading-box .login-result {
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
    color: red;
}


/*.loading-box:before{
    content: '';
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
}*/

.loading-box .loading-icon {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    background: url('/img/login/loading.png') no-repeat center;
    background-size: 50px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -30px;
    -webkit-animation: loading 1s cubic-bezier(0.07, 0.34, 0.77, 0.34) 0s infinite;
    animation: loading 1s cubic-bezier(0.07, 0.34, 0.77, 0.34) 0s infinite;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
