<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>户外商品管理-登录</title>
	<mate http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<div class="login-box">
		<p class="login-tip">登录户外商品管理系统</p>
		<div class="area">
			<i class="icon icon-user"></i>
			<input type="text" placeholder="请输入账号" name="account" id="account">
			<span class="check-tip" id="account-tip"></span>
		</div>
		<div class="area">
			<i class="icon icon-pwd"></i>
			<input type="password" placeholder="请输入密码" name="password" id="password">
			<span class="check-tip" id="pwd-tip"></span>
		</div>
		<div class="area">
			<a href="javascript:void(0);" class="btn-login">登&nbsp;&nbsp;录</a>
		</div>
	</div>
	<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>